* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.main-container {
    width: 100%;
    min-height: 200px;
    background-color: gray;
}

div.main-container h1 {
    width: 100%;
    min-height: 200px;
    line-height: 200px;
    text-align: center;
}